.Career {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-top: 80px;
}

.CareerTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}

.CareerText {
  margin-top: 20px;
  font-weight: bold;
}

.CareerSubText {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 25px;
  font-weight: 400;
}

.CareerTitle li {
  padding-left: 10px;
}

.CareerTitle li::marker {
  content: "•";
  color: white;
  font-size: 24px;
}

.CareerSubText li {
  padding-left: 10px;
}

.CareerSubText li::marker {
  content: "✓";
  color: bisque;
  font-size: 24px;
}
