.Skill {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.SkillTitle {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
  text-align: center;
}

.SkillSubTitle {
  margin-top: 50px;
  font-size: 32px;
  font-weight: 300;
  color: white;
}

.SkillBadges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.SkillBadgeContainer {
  width: 18%;
  margin-bottom: 20px;
}

.SkillBadge {
  display: inline-block;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: bold;
}
.SoftSkillTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}

.SoftSkillText {
  margin-top: 20px;
  font-weight: bold;
}

.SoftSkillSubText {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 25px;
  font-weight: 400;
}
.SkillTitle li {
  padding-left: 10px;
}

.SkillTitle li::marker {
  content: "•";
  color: white;
  font-size: 24px;
}

.SoftSkillSubText li {
  padding-left: 10px;
}

.SoftSkillSubText li::marker {
  content: "✓";
  color: bisque;
  font-size: 24px;
}

.SkillBadge.js {
  background-color: #f7df1e;
}

.SkillBadge.ts {
  background-color: #007acc;
}

.SkillBadge.html {
  background-color: #e44d26;
}

.SkillBadge.css {
  background-color: #264de4;
}

.SkillBadge.python {
  background-color: #306998;
}

.SkillBadge.react {
  background-color: #61dafb;
}

.SkillBadge.react-native {
  background-color: #61dafb;
}

.SkillBadge.android {
  background-color: #3ddc84;
}

.SkillBadge.vue {
  background-color: #42b883;
}

.SkillBadge.django {
  background-color: #092e20;
  color: white;
}

.SkillBadge.bootstrap {
  background-color: #563d7c;
  color: white;
}

.SkillBadge.visualstudio {
  background-color: #5c2d91;
  color: white;
}

.SkillBadge.figma {
  background-color: #f24e1e;
}

.SkillBadge.notion {
  background-color: #ffffff;
  color: black;
}

.SkillBadge.jira {
  background-color: #0052cc;
  color: white;
}

.SkillBadge.mysql {
  background-color: #00758f;
  color: white;
}

.SkillBadge.git {
  background-color: #f05032;
  color: white;
}

.SkillProgress {
  background-color: white;
  border-radius: 5px;
  height: 8px;
  margin-top: 5px;
}

.SkillProgressBar {
  height: 100%;
  background-color: skyblue;
  border-radius: 5px;
}
