.Skill {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.SkillTitle {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
  text-align: center;
}

.SoftSkill {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-top: 120px;
  text-align: center;
}

.SkillSection {
  margin-top: 30px;
}
.SkillSubTitle {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.SkillBadges {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
}

.SkillBadgeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 15px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: visible;
}

.SkillBadgeContainer:hover {
  transform: scale(1.3);
  z-index: 10;
}

.SkillBadgeImage {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.SkillBadgeText {
  font-size: 20px;
  color: black;
  text-align: center;
}

.SkillDescription {
  position: absolute;
  bottom: -140px;
  left: 50%;
  transform: translateX(-50%);
  width: 220px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  z-index: 20;
}

.SkillBadgeContainer:hover .SkillDescription {
  opacity: 1;
  transform: translateX(-50%) translateY(-10px);
}

.SoftSkillTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}

.SoftSkillText {
  margin-top: 20px;
  font-weight: bold;
}

.SoftSkillSubText {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 25px;
  font-weight: 400;
  background-color: #2d2d2d;
  padding: 40px;
  border-radius: 20px;
}

.SoftSkillSubText li {
  padding-left: 10px;
}

.SoftSkillSubText li::marker {
  content: "✓";
  color: bisque;
  font-size: 20px;
}
