{% extends 'base.html' %}

{% block content %}
  <h1>Recommended</h1>

  <form id="genre-form">
    <label for="genre-select">Select Genre:</label>
    <select id="genre-select" name="genre_id">
      <option value="">All Genres</option>
      {% for genre in genres %}
        <option value="{{ genre.id }}">{{ genre.name }}</option>
      {% endfor %}
    </select>
    <button type="submit">Filter</button>
  </form>

  <div id="movie-list">
    {% for movie in recommended_movies %}
      <ul>
        <li>{{ movie.title }}</li>
      </ul>
    {% endfor %}
  </div>

  <script>
    // 장르 선택 시 폼을 제출하여 페이지를 새로 고침하는 기본 동작 방지
    document.getElementById('genre-form').addEventListener('submit', function(event) {
      event.preventDefault();
      var genreId = document.getElementById('genre-select').value;
      var url = '/recommended/';
      
      if (genreId) {
        url += '?genre_id=' + genreId;
      }
      
      fetch(url)
        .then(response => response.json())
        .then(data => {
          var movieList = document.getElementById('movie-list');
          movieList.innerHTML = ''; // 기존의 영화 목록을 초기화

          data.recommended_movies.forEach(function(movie) {
            var movieElement = document.createElement('ul');
            var listItem = document.createElement('li');
            listItem.textContent = movie.title;
            movieElement.appendChild(listItem);
            movieList.appendChild(movieElement);
          });
        })
        .catch(error => {
          console.error('Error:', error);
        });
    });
  </script>
{% endblock %}
