html,
body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100%;
}

.AppContainer {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  padding: 20px;
  overflow: auto;
}

.graph {
  flex: 7;
  background-color: #ffffff;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.table {
  flex: 3;
  background-color: #ffffff;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
