.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  color: black;
  cursor: pointer;
  z-index: 1100;
}

.modal-close:hover {
  color: red;
}
