.Button {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.Button:hover {
  background-color: #232323; /* 마우스를 올렸을 때 배경색 변경 */
  color: white;
}
