.Header {
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232323;
  color: white;
  height: 100px;
}

.body {
  background-color: #232323;
}
