.image {
  opacity: 0; /* Initial opacity */
  transition: opacity 0.6s ease-out; /* Transition effect for opacity */
}

.image.appear {
  opacity: 1; /* Make image visible when it appears */
}

.image-container {
  display: flex;
  justify-content: flex-end; /* Align images to the right */
  width: 100%;
}

.half-image {
  width: 50%;
  height: auto;
}

.half-image2 {
  width: 50%;
  height: auto;
  opacity: 0; /* Initial opacity */
  transition: opacity 0.6s ease-out; /* Transition effect for opacity */
}

.half-image2.appear {
  opacity: 1; /* Make image visible when it appears */
}
