body {
  margin: 0;
  background-color: #02001f;
}

.app-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.main-content {
  margin-left: 200px;
  padding: 20px;
  flex-grow: 1;
}
