@font-face {
  font-family: "OneMobile";
  src: url("/fonts/ONE%20Mobile%20POP%20OTF.otf") format("opentype");
}

@font-face {
  font-family: "MICE";
  src: url("/fonts/MICEGothic%20OTF.otf") format("opentype");
}
