@font-face {
  font-family: "OneMobile";
  src: url("/public/fonts/ONE\ Mobile\ POP\ OTF.otf") format("opentype");
}
@font-face {
  font-family: "MICE";
  src: url("/public/fonts/MICEGothic\ OTF.otf") format("opentype");
}
