.GamePianoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #02001f;
  color: white;}

.GamePianoTitle {
  font-size: 32px;
  text-align: center;
}