.GameDescriptionContainer {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  color: white !important;
}

.GameDescriptionContainer h1 {
  font-size: 64px !important;
  font-family: "OneMobile", sans-serif !important;
  color: #c796ff !important;
  text-align: center !important;
  margin-bottom: 40px !important;
}

.GameDescriptionContainer p {
  font-size: 24px !important;
  font-family: "OneMobile" !important;
  margin-bottom: 40px !important;
  color: black;
  overflow: auto;
}

.GameDescriptionButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.span-spacing {
  margin-bottom: 10px;
  display: block;
}
