.GameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  height: 100vh;
  background-color: #02001f;
  color: white;
}

.GameTitle {
  font-size: 64px;
  font-family: "OneMobile", sans-serif;
  color: #c796ff;
  text-align: center;
  margin-bottom: 100px;
}

.CategoryContainer {
  display: flex;
  justify-content: space-around;
  width: 90%;
  max-width: 1000px;
  margin-bottom: 40px;
}

.GameCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #1c1b3f;
  padding: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 280px;
  height: 280px;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: "OneMobile";
}

.GameCategory:hover {
  background-color: #4e4b7e;
  transform: scale(1.2);
}

.CategoryIcon {
  font-size: 64px;
  margin-bottom: 10px;
}

.GameCategory span {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
