.sidebar {
  width: 250px;
  background-color: #02001f;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  border-right: 4px solid #1c1b3f;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
}

.sidebarTitle {
  font-size: 16px;
  font-family: "OneMobile";
  text-align: center;
  color: #ffffff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.sidebar li:hover {
  transform: translateX(10px);
}

.sidebar li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-family: "MICE";
  display: block;
  padding: 10px 15px;
  background-color: #1c1b3f;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar li a:hover {
  background-color: #ffffff;
  color: #02001f;
}

.sidebar li a::before {
  content: "▶";
  margin-right: 10px;
  font-size: 0.9rem;
  color: #f8f8f8;
}
