<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <style>

    body {
      font-family: Arial, sans-serif;
      background-color: #201f1d !important;
      color: #fff !important;
    }


    .done {
    text-decoration: line-through;
    }

    .detail {
      position: fixed;
      top: 30%;
      left: 70%;
      border: 1px solid beige;
      width: 300px;
      background-color: #c3beb3;
      border-radius: 10px;
      padding: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    }

    .h1_2 {
      margin-left: 250px;
      color : #db111f;
    }

    .h1 {
      margin-left: 300px;
      color : #db111f;
      font-size: 70px;
    }

    .hr {
      background : #db111f;
      height : 1px;
      border: 0;
    }

  </style>
</head>
<body>

<div id="app">
  <h1 v-if ="!isLogin" class="h1">NETFLIX</h1>
    <h1 v-if ="isLogin" class="h1_2">현재 작성된 할 일 목록 : {{ countOfTodos }}</h1>
    <!-- <h1 class="h1">현재 작성된 할 일 목록 : {{ countOfTodos }}</h1>
    <h1 class="h1">현재 작성된 할 일 목록 : {{ countOfTodos }}</h1>
    <h1 class="h1">현재 작성된 할 일 목록 : {{ countOfTodosMethod() }}</h1>
    <h1 class="h1">현재 작성된 할 일 목록 : {{ countOfTodosMethod() }}</h1>
    <h1 class="h1">현재 작성된 할 일 목록 : {{ countOfTodosMethod() }}</h1> -->
    <article v-if="isLogin">
      <!-- todos를 반복해서 카드 하나하나를 만든다. -->
      <div v-for="todo in todos" :key="todo.id">
        <div class="card" v-on:click="goDetail(todo)">
          <!-- 조건부 class binding -->
          <!-- todo의 completed값이 true인 경우에만 done클래수 부여 -->
          <p :class="{ done:todo.completed }">{{ todo.title }}</p>
          <p>{{ todo.completed }}</p>
          <hr class="hr">
        </div>
      </div>
    </article>
    <article v-if="!isLogin">
      <form @submit.prevent="login">
        <label for="username">username : </label>
        <input type="text" name="username" id="username"  
          v-model="username"
          @input = "userNameValidator"
          >
        <p 
          v-show= "!userNameError.isvalid"
        >
          {{ userNameError.text }}
      </p>

        <label for="password">password : </label>
        <input type="password" name="password" id="password" 
          v-model="password"
          @input = "userPasswordValidator"
          >
        <p 
          v-show= "!userPassError.isvalid"
        >
          {{ userPassError.text }}
      </p>


        <input type="submit" value="login">

      </form>
    </article>

    <!-- 
      v-if => 조건 불만족시 화면에 렌더링조차 되지 않음
      v-show => 조건 불만족시 display:none으로 설정하고 렌더링함
     -->
      
    <section v-show ="todo" class="detail">
      <!-- detail page , 종료버튼, pk, title, completed, usreId, comments -->
      <button @click="closeDetail">X</button>
      <h1>{{ todo.id }} | {{ todo.title }}</h1>
      <p>userId : {{ todo.id }}</p>
      <p>isCompleted : {{ todo.completed }}</p>

      <!-- 댓글 영역 -->
      <div v-for="comment in comments" :key="comment.id">
        <p>{{ comment.body }}</p>
      </div>
    </section>
</div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Vue CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
  <!-- axios CDN -->

  <!-- Vue 객체 작성 -->
  <script>
    // 객체 구조 분해 할당으로, Vue.createAPP을 createApp 변수에 할당한다.
    // Vue가 가지고 있는 메서드 onMounted 가져온다.
    const { createApp, ref, onMounted, computed, watch } = Vue
    const app = createApp({
      setup() {
        const isLogin = ref(false)

        const todos = ref([
          { 
            id : 1,
            title : '뭐하누 하하하하하',
            complted : false,

          },

          {
            i : 2,
            title : '뭐하노 하하하하하',
            complted : true

          },
        ])
          const todo = ref(false)
          const comments = ref([])

          const countOfTodos = computed(() => {
            return todos.value.length
          })

          const countOfTodosMethod = function() {
            console.log('메서드 호출')
            return todos.value.length
          }

          // const detailComments = computed(() => {
          //   const result = comments.value.filter(comment => {
          //     return comment.postId === todo.value.id
          //   })
          //   return result
          // })
          
          const detailComments = ref([])

          watch(todo, (newV, oldV) => {
            // console.log(oldV) // false
            // console.log(newV)
            detailComments.value = comments.value.filter(comment => {
              return comment.postId === newV.id
            })
          })


          const goDetail = function (item) {
            todo.value = item
          }
          
          const closeDetail = function () {
            todo.value = false
          }

        // onMounted 함수 호출 시, callBack function
        onMounted(() => {
          axios({
            methods : 'get',
            url : 'https://jsonplaceholder.typicode.com/todos/'
          })
            
            .then(res => todos.value = res.data.slice(0, 100))
            .catch(err => console.log(err.data))


          axios({
            methods : 'get',
            url : 'https://jsonplaceholder.typicode.com/comments/'
          })
            
            .then(res => comments.value = res.data)
            .catch(err => console.log(err))
            
        }) 

        const login = function() {
          if (!userNameError.value.isValid) {
            console.log('유효성 통과 못함')
            // p 태그 show로 조건 만들고,
            // loginValidator 객체 만들어서
          } else {
            if (username.value.trim() && password.value.trim()) {
              isLogin.value = true
            }
          }
        }

        const userNameError = ref({
          text: '',
          isValid: true
        })

        const userName = ref('')
        const passWord = ref('')

        const userNameValidator = function () {
          // username 입력 값이 12 초과하는 경우, userNameError 객체 값 변경
          if (username.value.length > 12) {
            userNameError.value.isValid = false
            userNameError.value.text = '이름은 12글자 까지만 작성할 수 있습니다.'
          } else {
            userNameError.value.isValid = true
            userNameError.value.text = ''
          }

        }

        const userPassError = ref({
          password: '',
          isValid: true
        })

        const userPasswordValidator = function () {
        
          if (password.value.length < 8) {
            userPassError.value.isValid = false
            userPassError.value.text = '비밀번호는 최소 8글자 이상입니다.'
          } else {
            userPassError.value.isValid = true
            userPassError.value.text = ''
          }
        }
  
        return {
          todos,
          todo,
          goDetail,
          closeDetail,
          comments,
          detailComments,
          countOfTodos,
          countOfTodosMethod,
          isLogin,
          login,
          userNameError,
          userName,
          userNameValidator,
          passWord,
          userPassError,
          userPasswordValidator
        }
      }
    })

    app.mount('#app')
  </script>
</body>
</html>