.GameMelodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #02001f;
  color: white;
}

.GameMelodyTitle {
  font-size: 64px;
  font-family: "OneMobile";
  text-align: center;
  color: #c796ff;
  margin-bottom: 50px;
}

.Mission {
  margin: 20px 0;
  font-size: 24px;
}

.MelodyMessageDisplay {
  font-size: 20px;
  margin-top: 20px;
}

.MelodyMessageDisplay.perfect {
  color: #1e90ff;
}

.NoteDisplay {
  font-size: 28px;
  margin: 20px 0;
}

.MelodyButtonContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 0;
}
