.projectItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.projectCard {
  border-radius: 20px;
  width: 1200px;
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;
}

.projectCard h2 {
  margin: 20px 0 0;
}

.projectPeriod {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.carousel img {
  width: 50%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.projectDescription {
  text-align: center;
  margin: 20px;
}

.modalLink {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: bisque;
  color: black;
  border-radius: 5px;
  text-decoration: none;
}

.modalLink:hover {
  background-color: #e1c6a0;
}
