.projectItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.projectCard {
  border-radius: 20px;
  width: 1200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projectCard h2 {
  margin: 20px 0;
  font-size: 24px;
}

.projectPeriod {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.carousel {
  width: 100%;
}

.carouselImage {
  margin-right: 10px; /* 이미지 간격 추가 */
}

.carousel img {
  width: 100%;
  max-height: 1000px;
  object-fit: cover;
  border-radius: 10px;
}

.projectDescription {
  text-align: center;
  margin: 20px 0;
}

.modalLink {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: bisque;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.modalLink:hover {
  background-color: #e1c6a0;
}
