.GamePianoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  height: 100vh;
  color: white;
  font-family: "OneMobile";
  padding: 20px;
}

.GamePianoTitle {
  font-size: 64px;
  text-align: center;
  color: #c796ff;
  position: relative;
  margin-bottom: 50px;
}

.GamePianoTitle img {
  position: absolute;
  top: -60px;
  left: 80%;
  width: 100px;
  z-index: 1;
}

.ModeSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}

.ModeSelect Button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 200px;
  height: 200px;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 28px;
  font-family: "OneMobile";
}

.ModeSelect Button:hover {
  background-color: #272753;
  transform: scale(1.2);
}

.PianoMessageDisplay {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "OneMobile";
  color: skyblue;
  text-align: center;
}

.PianoLevelDisplay {
  font-size: 32px;
  text-align: center;
  color: white;
}

.PianoOptions {
  margin-top: 40px;
  text-align: center;
}

.PianoOptions button {
  width: 200px;
  height: 200px;
  font-size: 24px;
  margin: 10px 30px;
}

.PianoGameButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 0;
}
