.GamePianoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.GamePianoTitle {
  font-size: 72px;
  font-family: "OneMobile";
  text-align: center;
  margin-bottom: 60px;
  color: #c796ff;
  position: relative;
}

.GamePianoTitle img {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 100px;
  z-index: 1;
}

.ModeSelect button {
  background-color: #444;
  color: white;
  font-family: "OneMobile";
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ModeSelect button:hover {
  background-color: #666;
}

.NoteGuessing,
.ChordGuessing {
  margin-top: 20px;
}

.NoteGuessing button,
.ChordGuessing button {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "OneMobile";
}

.NoteGuessing button:hover,
.ChordGuessing button:hover {
  background-color: #666;
}

.Options button {
  background-color: #444;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Options button:hover {
  background-color: #666;
}

.PianoMessageDisplay {
  margin-top: 20px;
  font-size: 20px;
  color: yellow;
}
