#messages {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 20px;
}

.message {
  max-width: 60%;
  margin: 5px 0;
}

.sent {
  align-self: flex-end;
  background-color: #a4f87b;
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.received {
  align-self: flex-start;
  background-color: #e0e0e0;
  color: black;
  padding: 10px;
  border-radius: 10px;
}
