body {
  background-color: white;
}


h1 {
  color: cornflowerblue;
  transition: color .5s ease-in-out;
  /* 색 천천히 변하기 */
} 

.active {
  color: tomato;
}

.sexy-font {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}